[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
.env
*.pid
*.log
.idea/
.vscode/
docs/contoh/
brain/
# Firebase Credentials
**/firebase/*.json
!**/firebase/*.example.json
google-services.json
*.py
*.sh
scratch/
